{% extends 'base.html' %}

{% block title %} List of Companies {% endblock %}

{% block content %}
    {% for company in companies %}
        <a href="{% url 'co_profile' company.slug %}" class="text-dark text-decoration-none">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <h3>
                    <!-- {{member.first_name}} {{ member.last_name }} -->
                    {{ company.name  }}
                </h3>
                <p>description : {{ company.description }}</p>
                <p>phone : {{ company.phone }}</p>
                <p>email : {{ company.email }}</p>
                <p>website : {{ company.website }}</p>
                <p>address : {{ company.address }}</p>
                <p>owner : {{ company.owner }}</p>
                <p>category : {{ company.category.name }}</p>
            </div>
        </a>
    {% endfor %}
{% endblock %}
