{% extends 'base.html' %}

{% block title %} List of Companies {% endblock %}

{% block content %}
    {% for category in categories %}
        <a href="{% url 'co_profile' category.slug %}" class="text-dark text-decoration-none">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <h3>
                    <!-- {{member.first_name}} {{ member.last_name }} -->
                    {{ category.name  }}
                </h3>
                <p>description : {{ category.description }}</p>
                <a href="{% url 'update_co_category' category.slug %}" class="btn btn-primary">Update</a>
            </div>
        </a>
    {% endfor %}
{% endblock %}