{% extends 'base.html' %}

{% block title %} {{category.name}} {% endblock %}

{% block content %}
        
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-co-category-modal">
    Add Company
  </button>

  <div class="modal fade" id="add-co-category-modal" tabindex="-1" aria-labelledby="add-co-category-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add-co-category-modal">+ Add Company</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'add_company' %}" method="post" name="add_co_category_form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">+ Add Company</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br><br>
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h3>
            <!-- {{member.first_name}} {{ member.last_name }} -->
            {{ category.name  }}
        </h3>
        <p>description : {{ category.description }}</p>
    </div>
    <br>
    {% for company in companies %}
        <a href="{% url 'co_profile' company.slug %}" class="text-dark text-decoration-none">
            <div class="shadow p-3 mb-5 bg-white rounded">
                
                <div>
                    
                <h6>{{ company.name }}</h6>
                <p>description : {{ company.description }}</p>
                <p>phone : {{ company.phone }}</p>
                <p>email : {{ company.email }}</p>
                <p>website : {{ company.website }}</p>
                <p>address : {{ company.address }}</p>
                {% if company.owner.first_name %}
                    <p>owner : {{ company.owner.first_name }} {{ company.owner.last_name }}</p>
                {% else %}
                    <p>owner : {{ company.owner.username }}</p>
                {% endif %}
                <p>Categories : </p>
                {% for category in company.category.all %}
                    <ul>
                        <li>
                            {{ category }}
                        </li>
                    </ul>
                {% endfor %}
                </div>
                
            </div>
        </a>
    {% endfor %}
{% endblock %}

