{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'members/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'navbar.html' %}" rel="stylesheet">



</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        
        <br><br>

        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'members/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>