
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TAQATOOLS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                {% if user.is_authenticated %}
                    {% if  user.first_name  %}
                      <a class="nav-link" href="#">Hello {{ user.first_name }}!</a>
                    {% else %}
                      <a class="nav-link" href="#">Hello {{ user.username }}!</a>
                    {% endif %}
                    {% if not request.company.owner == request.user %}
                    <a class="nav-link" href="{% url 'add_company' %}">Add Company</a>
                    {% endif %}
                    
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                {% endif %}
            
              
            </div>
          </div>
        </div>
      </nav>
  </div>
  <br>