{% extends 'base.html' %}

{% block title %} {{category.name}} {% endblock %}

{% block content %}
        
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-co-category-modal">
    Add Product
  </button>

  <div class="modal fade" id="add-co-category-modal" tabindex="-1" aria-labelledby="add-co-category-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add-co-category-modal">+ Add Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'add_company' %}" method="post" name="add_co_category_form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">+ Add Product</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br><br>
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h3>
            <!-- {{member.first_name}} {{ member.last_name }} -->
            {{ category.name  }}
        </h3>
        <p>description : {{ category.description }}</p>
    </div>
    <br>
    {% for product in products %}
        <a href="{% url 'product' product.slug %}" class="text-dark text-decoration-none">
            <div class="shadow p-3 mb-5 bg-white rounded">
                
                <div>
                    
                <h6>{{ product.name }}</h6>
                <p>description : {{ product.description }}</p>
                </div>
                
            </div>
        </a>
    {% endfor %}
{% endblock %}

